
<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row">
    <div class="col-6  mx-auto">
      <div class="card">
        <div class="card-body">
          {{!-- <h5 class="card-title">Random Password Generator <i class="fas fa-key"></i></h5> --}}
          <form method="POST" action="/">
          
            <div class="row mb-3 g-2">
              <small class="hint text-muted form-text col-md-3">*必填欄位</small>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="lowercase" class="col-md-3 col-form-label">名稱*：</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline col-12">
                  <input type="text" class="form-control" id="lowercase" name="lowercase" value="{{recodes.name}}">
                </div>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="uppercase" class="col-md-3 col-form-label">日期*：</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline col-12">
                  <input type="date" class="form-control" id="dateSet"  name="dateSet" style="width: 100%;" value="{{date}}">
                </div>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="numbers" class="col-md-3 col-form-label">類別*：</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline col-12">
                  <select class="form-select" name="categorySet" id="categorySet">
                    <option selected disabled>-----{{categorys.name}}------</option>
                    <option value="1">家居物業</option>
                    <option value="2">交通出行</option>
                    <option value="3">休閒娛樂</option>
                    <option value="4">餐飲食品</option>
                    <option value="5">其他</option>
                  </select>
                  
                </div>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="symbols" class="col-md-3 col-form-label">金額*：</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline col-12">
                  <input type="text" class="form-control" id="symbols" name="symbols" value="{{recodes.amount}}">
                </div>
              </div>
            </div>

            
            <div class="submitNew d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-success" type="submit">新增支出</button>
            </div>
            
          </form>
        </div>

        <small class="card-footer text-muted text-end">
          請修改上面表單
        </small>
      </div>
    </div>
  </div>
</div>